.bg {
  background-image: url("../../assets/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // position: fixed;
  height: 100vh;
}

h1 {
  color: white;
  font-family: 'Exo';
  font-size: 100px;
  font-weight: 800;
  margin-top: 70px;
  margin-bottom: 100px;
}

p {
  font-size: 40px;
  font-weight: 100;
}

.main-page {
  color: white;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 30%;
  margin-left: 25px;
}

.signup-btn {
  background: rgb(248, 75, 223);
  color: rgb(119, 26, 105);
}

.login-btn {
  background: rgb(135, 139, 198);
  color: rgb(44, 48, 102);
}