<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 25px 0;
    /* margin: 50px; */
  }

  .main-page {
    display: flex;
    flex-direction: column;
    margin: 52px auto 32px;
    align-items: center;
  }
</style>

<div class="main-page">
  <div>
    <h1>
      Welcome to myFlix!
    </h1>
  </div>
  <div>
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="warn"> Sign
      Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" color="accent"> Log In </button>
    <button mat-raised-button (click)="openMovieDialog()" color="primary"> All Movies </button>
  </div>
</div>